@tailwind base;
@tailwind components;
@tailwind utilities;
.testimonial-item:hover .glass {
  margin-top:40px;
  transition: all .5s;
}
.testimonial-item .glass {
  margin-top:0px;
  position: relative;
  z-index: 9;
  transition: all .5s;
}
.horizontal-right-scroll{
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}